.intro {
  background: rgb(216, 212, 212);
  &__container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  &__inner {
    border: 2px solid black;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }
  &__link {
    padding: 20px;
    font-size: 30px;
    max-width: 568px;
    width: 100%;
    text-align: center;
  }
  &__link:first-child {
    border-right: 2px solid black;
  }
  &__link:hover {
    background: black;
    color: white;
  }
  &__link:active {
    color: white;
  }
  &__content {
    padding: 20px 40px;
    min-height: 200px;
  }
}
